<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<add key="xunit.methodDisplay" value="method" />

		<!-- NBitcoin Indexer Settings -->

		<!--Azure Storage account-->
		<add key="Azure.AccountName" value="qbitninjatesting" />
		<!--Azure Storage account key-->
		<add key="Azure.Key" value="J/rVN2YJEyFKalQvonHQ6hiNLLrJ8/KmXgX82ZLnbETvq9hBXgf7DmKzj1My92qNNq8sRlwCTHv32cKwgcagqw==" />
		<!--Prefix used before container and azure table (alpha num, optional, ex : prod)-->
		<add key="StorageNamespace" value="qbit" />
		<!-- Identifier for isolating checkpoints accross several indexer instances (default: default)-->
		<add key="CheckpointSetName" value="" />
		<!--main or test-->
		<add key="Bitcoin.Network" value="test" />
		<!--Connection to local node, only for mempool and current chain indexation (ex : localhost[:8333], if no port is specified, takes default one)-->
		<add key="Node" value="" />

		<!-- /End NBitcoin Indexer Settings -->



		<!-- QBitNinja Settings -->
		<!--Cache of the local chain (optional)-->
		<add key="LocalChain" value="" />
		<add key="NoLocalChain" value="true" />
		<add key="ServiceBus" value="Endpoint=sb://qbitninjatesting.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=yrR9xHif+OLbc8XjnMX4/ZqAER7+lr1pOILL2OEcJM0=" />
		<!-- /End QBitNinja Settings -->
	</appSettings>
</configuration>
