<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
		<dependentAssembly>
			<assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
			<bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
		</dependentAssembly>
		<dependentAssembly>
			<assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
			<bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
		</dependentAssembly>
		<dependentAssembly>
			<assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
			<bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
		</dependentAssembly>
    </assemblyBinding>
  </runtime>

	<appSettings>
		<add key="xunit.methodDisplay" value="method"/>
		
		<!-- NBitcoin Indexer Settings -->

		<!--Azure Storage account-->
		<add key="Azure.AccountName" value="" />
		<!--Azure Storage account key-->
		<add key="Azure.Key" value="" />
		<!--Prefix used before container and azure table (alpha num, optional, ex : prod)-->
		<add key="StorageNamespace" value="" />
		<!-- Identifier for isolating checkpoints accross several indexer instances (default: default)-->
		<add key="CheckpointSetName" value=""/>
		<!--main or test-->
		<add key="Bitcoin.Network" value="main" />
		<!--Connection to local node, only for mempool and current chain indexation (ex : localhost[:8333], if no port is specified, takes default one)-->
		<add key="Node" value="localhost" />

		<!-- /End NBitcoin Indexer Settings -->



		<!-- QBitNinja Settings -->
		<!--Cache of the local chain (optional)-->
		<add key="LocalChain" value="" />
		<add key="ServiceBus" value="" />
		<!-- /End QBitNinja Settings -->


	</appSettings>	

</configuration>