<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

	<appSettings>
		<!--Azure Storage account-->
		<add key="Azure.AccountName" value="rapidbasetest" />
		<add key="Azure.Key" value="KujMiElQJMJNnamdQvqv5CnHdQdg1RR0Iik0XoCuNtmSQ40w4e7aa6xINNsDZnKpLb37r5pYUDAiqVVj8aUyUw==" />

		<!--Prefix used before container and azure table (alpha num, optional, ex : prod)-->
		<add key="StorageNamespace" value="" />

		<!--Directory where the indexer keep track of its work (optional)-->
		<add key="MainDirectory" value="" />

		<!--main or test-->
		<add key="Bitcoin.Network" value="test" />

		<!--Connection to local node, only for mempool and current chain indexation (ex : localhost[:8333], if no port is specified, takes default one)-->
		<add key="Node" value="" />

	</appSettings>	

</configuration>