<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <appSettings>
    <!-- NBitcoin Indexer Settings -->
    <!--Azure Storage account-->
    <add key="Azure.AccountName" value="" />
    <!--Azure Storage account key-->
    <add key="Azure.Key" value="" />
    <!--Prefix used before container and azure table (alpha num, optional, ex : prod)-->
    <add key="StorageNamespace" value="" />
    <!-- Identifier for isolating checkpoints accross several indexer instances (default: default)-->
    <add key="CheckpointSetName" value="" />
    <!--main or test-->
    <add key="Bitcoin.Network" value="" />
    <!--Connection to local node, only for mempool and current chain indexation (ex : localhost[:8333], if no port is specified, takes default one)-->
    <!--
    <add key="Node" value="localhost" />-->
    <!-- /End NBitcoin Indexer Settings -->
    <!-- QBitNinja Settings -->
    <!--Cache of the local chain (optional)-->
    <add key="LocalChain" value="" />
    <add key="ServiceBus" value="" />
    <!-- /End QBitNinja Settings -->
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.5" />
    <customErrors mode="Off" />
  </system.web>
  
<system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer></configuration>