<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<!--`Azure.AccountName` and `Azure.Key` are in the Azure Portal, in the settings of your Storage Account Resource-->
		<add key="Azure.AccountName" value="" />
		<add key="Azure.Key" value="" />
		
		<!--`Bitcoin.Network` can be `mainnet`, `testnet`, `regtest`-->
		<add key="Bitcoin.Network" value="" />
		<!--Optional: `Node` represented the P2P connection to your bitcoin node. Do not forget to whitelist the indexer in your node's settings, typically by adding `whitelist=127.0.0.1` in `bitcoin.conf` (Default: Induced by `Bitcoin.Network`, 127.0.0.1:8333 on mainnet)-->
		<add key="Node" value="" />
		
		<!--`RPCConnectionString` optional, but needed for more reliably broadcast transactions. 
		Example of `RPCConnectionString`:
		* `default`: Assume your are running `bitcoind` locally with default settings.
		* `cookiefile=C:\path\to\.cookie`: If you run `bitcoind` in a different data directory with default authentication, you need to set the path to it.
		* `server=http://127.0.0.1:29292`: If you run `bitcoind` RPC on a different port than default.
		* `myuser:password`: If you run `bitcoind` with `rpcuser` and `rpcpassword`.
		* `server=http://127.0.0.1:29292;myuser:password`: If you run `bitcoind` RPC with `rpcuser` and `rpcpassword`, on a different port than default.
		* `server=http://127.0.0.1:29292;cookiefile=C:\path\to\.cookie`: If you run `bitcoind` RPC with `rpcuser` and `rpcpassword`, in a different data directory with default authentication.
			-->
		<add key="RPCConnectionString" value="default"/>
		
		
		<!--* `ServiceBus` connection string to your Service Bus Namespace (in `Shared access policies` inside Azure)-->
		<add key="ServiceBus" value="" />


		<!--Optional: Cache of the local chain so the indexer is faster to start-->
		<!--<add key="LocalChain" value="C:\TestCacheChain.dat" />-->
		
		<!--Optional: Those are dev time features to have several qbitninja on the same storage account-->
		<add key="StorageNamespace" value="" />
		<add key="CheckpointSetName" value="" />
	</appSettings>
	<system.diagnostics>
		<sources>
			<source name="QBitNinja.Listener" switchValue="All">
				<listeners>
					<add name="console" type="System.Diagnostics.ConsoleTraceListener" />
				</listeners>
			</source>
		</sources>
		<trace autoflush="true"></trace>
	</system.diagnostics>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" culture="neutral" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
			</dependentAssembly>
		</assemblyBinding>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http.Formatting" culture="neutral" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
			</dependentAssembly>
		</assemblyBinding>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Autofac" culture="neutral" publicKeyToken="17863af14b0044da" />
				<bindingRedirect oldVersion="0.0.0.0-4.6.2.0" newVersion="4.6.2.0" />
			</dependentAssembly>
		</assemblyBinding>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Http" culture="neutral" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
			</dependentAssembly>
		</assemblyBinding>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
				<bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Antlr3.Runtime" culture="neutral" publicKeyToken="eb42632606e9261f" />
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
