<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>
	<appSettings>
		<!--Azure Storage account-->
		<add key="Azure.AccountName" value="" />
		<add key="Azure.Key" value="" />
		<!--Prefix used before container and azure table (alpha num, optional, ex : prod)-->
		<add key="StorageNamespace" value="" />
		<!--Directory where the indexer keep track of its work (optional)-->
		<add key="MainDirectory" value="" />
		<!--main or test-->
		<add key="Bitcoin.Network" value="" />
		<!--Connection to local node, only for mempool and current chain indexation (ex : localhost[:8333], if no port is specified, takes default one)-->
		<add key="Node" value="" />

		<!--Cache of the local chain (optional)-->
		<add key="LocalChain" value="" />

		<add key="ServiceBus" value=""/>
	</appSettings>
	<system.diagnostics>
		<sources>
			<source name="RapidBase.Listener" switchValue="All">
				<listeners>
					<add name="xmlListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="Logs.svclog" >
						<filter type="System.Diagnostics.EventTypeFilter"
          initializeData="Information"/>
					</add>
					<add name="console" type="System.Diagnostics.ConsoleTraceListener" />
				</listeners>
			</source>
		</sources>
		<trace autoflush="true"></trace>
	</system.diagnostics>
</configuration>